#filters-selector-container{
  
  #filters-selector-and-controls{
    #filters-selector-precontainer{
      display: inline-block
      
      #filters-selectors{
        .filter-selector{
          display: inline-block
          margin-right: 10px
          opacity: 1 !important
          height: 37px
          line-height: 37px
          
          .filter-selector-select-container{              
            display: inline-block
            height: 37px
            
            .Select{
              position: relative !important
              width: 220px              
            }
          }
          
          .filter-selector-remover{
            display: inline-block
            cursor: pointer
            position: relative
            margin: 0 0 0 5px
          }
          
          .select-text-items{
            width: 220px
          }
        }
      }
    }
    

    #filter-selector-add-btn{
      display: inline-block
      cursor: pointer
    }
    
    #filter-selector-add-container{
      display: inline-block
      
      .Select{
        position: relative !important
        width: 150px
      }

      .select-text-items{
        width: 150px
      }
    }
    
    #filters-apply{
      display: inline-block
      margin: 0 0 0 5px
    }

  }
  
  .fa{
    cursor: pointer
    color: #A2A2A2
    position: relative
    top: -13px
  }
}
