<SqlUnitTesting>
	<ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=CH-SQL-DEV-01;Initial Catalog=bl-oltp_test;Password=jZ77F28-AXEZUzX-;Persist Security Info=True;User ID=db-test;Pooling=False"
		CommandTimeout="30" />
	<PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=CH-SQL-DEV-01;Initial Catalog=bl-oltp_test;Persist Security Info=True;User ID=db-test;Password=jZ77F28-AXEZUzX-;Pooling=False"
		CommandTimeout="30" />
</SqlUnitTesting>