@using BrightLine.Web
@{
	Layout = "~/Views/Shared/_Layout-bs3.cshtml";
	ViewBag.Title = "Error";
}
@section scripts {
}	 

@section styles {
}
<div class="content clearfix" id="error-page-container">
	<h1>Uh oh!</h1>
	<span>We're sorry. Something went wrong. Please try again. </span>
</div>