
@using BrightLine.Web
@{
	Layout = "~/Views/Shared/_Layout-bs3.cshtml";
	ViewBag.Title = "Resource not found";
}
@section scripts {
}

@section styles {
}
<div class="content clearfix cfww" id="error-page-container">
	<h1>Error!</h1>
	<span>We're sorry, the page you were trying to reach could not be found.</span>
</div>
