<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.3.0" newVersion="1.7.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="OLTP" providerName="System.Data.SqlClient" connectionString="Data Source=ch-sql-dev-01;Initial Catalog=bl-oltp_test;User Id=iq_web_app;Password=JwLXg?9zQE!dYXRwv;MultipleActiveResultSets=True" />-->
	  <add name="OLTP" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=BL-OLTP;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <add key="AppURL" value="localhost:81" />
    <add key="AccountRequestExpirationDayCount" value="7" />
    <add key="InvitationExpirationDayCount" value="7" />
    <add key="EmailFromAddress" value="iq-support@brightline.tv" />
    <add key="EmailFromName" value="BrightLine iQ" />
    <add key="MediaURL" value="/media" />
    <add key="ImportURL" value="import" />
    <add key="ImportServerPath" value="" />
    <add key="Environment" value="DEV" />
    <add key="CacheEnabled" value="true" />
    <add key="CacheDuration" value="1440" />
    <add key="MaxPasswordAttemptCount" value="5" />
    <add key="PasswordChangeHourWindow" value="24" />
    <add key="PasswordChangeLimit" value="4" />
    <add key="PasswordHashHistoryLimit" value="12" />
    <add key="AccountLockOutMinutes" value="5" />
    <add key="PasswordExpirationDayCount" value="90" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnableMinification" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.allowedRoles" value="developer" />
    <add key="elmah.mvc.route" value="developer/elmah" />
    <add key="amazons3.AccessId" value="AKIAJ663ZEYETZ5OKKLA" />
    <add key="amazons3.AccessKey" value="F3Y041lpxB/s5ZIq/f+m8YFPcbIKc5kJ9U8/2+aK" />
    <add key="amazons3.Bucket" value="iq-resources" />
    <!-- The CMS allows users to publish to various environments, so the values of all environments need to be acessible -->
    <add key="cms.rethinkdb.host.int" value="192.168.23.154" />
    <add key="cms.rethinkdb.writer.username.int" value="cms_writer" />
    <add key="cms.rethinkdb.writer.password.int" value="CpsaNOjpdPYtO9y" />
    <add key="cms.rethinkdb.updateEndpoint.int" value="api/update/" />
    <add key="cms.rethinkdb.host.dev" value="166.78.110.244" />
    <add key="cms.rethinkdb.writer.username.dev" value="cms_writer" />
    <add key="cms.rethinkdb.writer.password.dev" value="CpsaNOjpdPYtO9y" />
    <add key="cms.rethinkdb.updateEndpoint.dev" value="api/update/" />
    <add key="cms.rethinkdb.host.ci" value="cmsci" />
    <add key="cms.rethinkdb.writer.username.ci" value="cms_writer" />
    <add key="cms.rethinkdb.writer.password.ci" value="Kwd2wFKHCmSaQrx" />
    <add key="cms.rethinkdb.updateEndpoint.ci" value="api/update/" />
    <add key="cms.rethinkdb.host.uat" value="10.178.144.82" />
    <add key="cms.rethinkdb.writer.username.uat" value="cms_writer" />
    <add key="cms.rethinkdb.writer.password.uat" value="I16rKIy3fJfU1CN" />
    <add key="cms.rethinkdb.updateEndpoint.uat" value="api/update/" />
    <add key="cms.rethinkdb.host.pro" value="10.177.8.58" />
    <add key="cms.rethinkdb.writer.username.pro" value="cms_writer" />
    <add key="cms.rethinkdb.writer.password.pro" value="tDYm57y203rhDAq" />
    <add key="cms.rethinkdb.updateEndpoint.pro" value="api/update/" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="redis.host" value="192.168.23.154" />
    <add key="redis.port" value="6379" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>