@using BrightLine.Web
@model BrightLine.Common.ViewModels.Account.UpdatePasswordViewModel
@{
	ViewBag.Title = "Update Password";
	Layout = "~/Views/Shared/_Layout-bs3.cshtml";
}
@section styles{
    <link href="@Url.Content(string.Format("/assets/stylesheets/account.css{0}", string.Format("?c={0}", MvcApplication.AppIdentifier)))" rel="stylesheet" type="text/css" />
	}
<div class="account-precontainer">
    <div class="account-container">
        <div class="content clearfix">

            <h1>Update Password</h1>
            <p>Your password has expired. Please enter a new password.</p>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="bg-danger validation-summary">
                        @Html.ValidationSummary(false)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "" })
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password, new { name = "password", @class = "form-control" })
                    </div>
                    <!-- /controls -->
                </div>
			<!-- /control-group -->

                <div class="form-group">
                    <button class="button btn btn-success" style="width: 100%">Reset Password</button>
                </div>
			<!-- .actions -->

            }
        </div>
        <!-- /content -->
    </div>
</div>


