@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout-bs3.cshtml";
}

<div>
	<a id="cleanupAds" href="/developer/Ads/CleanupAds" role="button" style="margin-top: 20px;" class="btn btn-sm btn-warning">Cleanup Dirty Ads</a>
</div>


