.date-picker-container{
  display: none
  position: absolute
  z-index: 2
  background: #fff
  padding: 10px
  box-shadow: 2px 3px 12px rgba(0,0,0,0.3)
  margin: 10px 0
  right: 0
  top: 35px
  
  &[data-calendars='1']{
    .datepicker{
      width: 181px !important
    }
  }
  
  &[data-calendars='2']{
    .datepicker{
      width: 330px !important
    }
  }
  

  .datepicker{
    border: 0
    height: 165px !important
    border-radius: 0
      
    .datepickerContainer{
      width: 100% !important
      height: 145px !important
    }
    
    a {
      cursor: pointer
      span {
        cursor: pointer
      }
    }
    
    td.datepickerFuture a{
      color: #000
    }
    td.datepickerToday {
      background: #7CB5EC
      &.datepickerDisabled{
        // Unsure if this should be set
        // background: initial
      }
      a{
        font-size: 1.2em
      }
    }
    td.datepickerInvalid {
      background: #D2D2D2
      
      &.datepickerNotInMonth {
        background: #fff
      }

      a, span {
        cursor: default      
      }
    }
  }
  
  .date-picker-footer{
    margin: 10px 0 0
    text-align: right
  }
}

.date-picker-field-container{
  margin-top: 7px
  
  .date-picker-container{
    left: 15px
    right: initial
  }
}