.treelistifier{
  display: inline-block
  
  .active{
    cursor: default
    text-decoration: none
  }
  .inactive{
    color: #efefef    
  }
  
  .activate-tree{
    padding: 5px
    margin: 0 0 0 5px !important
  }
  .activate-list {
    padding: 5px
    margin: 0 5px 0 0 !important
  }
}
