.component-searchbox{
  &.is-empty{
    .clear-search{
      display: none
    }
  }
  
  .clear-search{
    display: block
    position: absolute
    top: 0
    left: 0
    padding: 10px
    background: #fff
    cursor: pointer
  }
}