
#campaign-summary{
}
#campaign-summary-performance-listing-container{
  margin-top: 15px
  
  & > div{
    padding: 15px 0 
  }
  
  #loading-container{
    height: 90px
    margin: 10px 0 20px
    position: relative
    
    .spinner{
      margin: auto
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: 20px
    }    
  }
  
  .performance-item{
    cursor: pointer
  }
}
