#deliverygroup-edit{
  .field-container{
    width: 500px
  }
  .select2-container .select2-selection--single{
    span.select2-selection__rendered{
    }
    span.select2-selection__arrow{
    }
  }
  
}
 
