<connectionStrings>
 	<remove name="OLTP"/>
 	<remove name="OLAP"/>
	<add name="OLTP" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=BL-OLTP;Integrated Security=True;MultipleActiveResultSets=True;" />
  <add name="OLAP" providerName="System.Data.SqlClient" connectionString="Data Source=ch-sql-dev-01;Initial Catalog=olap;User Id=iq_web_app;Password=JwLXg?9zQE!dYXRwv;MultipleActiveResultSets=True" />
</connectionStrings>
