<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true"
    internalLogLevel="Debug" internalLogFile="${basedir}/NlogInternal.log">
	<extensions>
		<add assembly="BrightLine.Web"/>
		<add assembly="NLog.Extended" />
	</extensions>
	<variable name="elmah_format" value="${message}"/>
	<variable name="debug_format" value="${message}${exception:format=ToString}"/>
	<variable name="html_format" value="${message}&lt;br/&gt;${exception:format=ToString}&lt;br/&gt;${callsite:includeSourcePath=true}&lt;br/&gt;${stacktrace}"/>
	<targets>
		<target name="outputDebugger" xsi:type="OutputDebugString" layout="${debug_format}" />
		<target name="debugger" xsi:type="Debugger" layout="${debug_format}"/>
		<target name="elmah" xsi:type="Elmah" layout="${elmah_format}" LogLevelAsType="true"/>
		<target name="sqlServer" xsi:type="Database"  keepConnection="false" connectionStringName="OLTP"
			commandText="insert into [LogEntry] (Logger, Message, Display, Level, DateCreated, IsDeleted, [User], [Host]) values (@logger, @message, @display, @level, @date, 0, @user, @host)">				
				<parameter name="@logger" layout="${logger}" />
				<parameter name="@message" layout="${message}" />
				<parameter name="@display" layout="${html_format}" />
				<parameter name="@level" layout="${level}" />
				<parameter name="@date" layout="${date}" />
				<parameter name="@user" layout="${gdc:user}"/>
				<parameter name="@host" layout="${gdc:host}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="outputDebugger, debugger" />
		<logger name="*" minlevel="Trace" appendTo="sqlServer" />
		<logger name="*" minlevel="Error" writeTo="elmah" />
	</rules>
</nlog>