<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">	
	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AppURL" value="dev-iq.brightline.tv"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="CacheEnabled" value="true"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="CacheDuration" value="1440"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ImportServerPath" value="C:\\inetpub\\Import"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RouteDebugger:Enabled" value="false" />
        <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="app.cms.s3Bucket" value="cms-dev.brightline.tv"/>
        <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="TrackingUrl" value="http://dev-events.brightline.tv/track" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="redis.cluster.db" value="1" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="app.media.s3Bucket" value="dev-m.brightline.tv" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="app.media.cdn.baseUrl" value="//cdn-m-dev.brightline.tv" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="app.cms.baseUrl" value="http://dev.cdn-cms.brightline.tv"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/error" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/error/ResourceNotFoundError" />
      <error statusCode="500" redirect="~/error" />
    </customErrors>
  </system.web>
</configuration>
