@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout-bs3.cshtml";
}

<h2>Lookups</h2>

<a href="/developer/Lookups/Refresh" role="button" class="btn btn-sm btn-warning">Refresh</a>


