.feature-models-instances-listing-container{
  .widget-header a {
    line-height: 15px
  }
  .widget-content > div{
    padding-top: 0 !important
  }
  .feature-models-listing-container{
    .feature-models-listing{
      .feature-models-listing-item{
        padding: 8px
        
        & + .feature-models-listing-item{
          border-top: 1px solid #ddd
        }
        
        &.odd{
          background: #fafafa
        }
        
        a{
          display: inline
        }        
      }
    }
  }

  .feature-model-instances-listing-container{
    
  }
  
  .collection_empty {
    .title {
      font-size: 18px
      margin-bottom: 10px
    }
    .description {
      font-size: 15px
    }
  }
}
