#instance-edit{    
  .form-group .form-field{
    // max-width: initial
  }
  .missing-instance-info.info{
    text-align: center
    color: #778295
    margin: 40px
    
    .title{
      font-size: 24px
      font-weight: 400
      margin: 0 0 20px
    }
    .description{
      font-size: 15px
    }
  }
  
  .col-xs-8 .form-control input[type='file']{
    width: 100%
    margin-left: 0
  }
  label.col-xs-2 i{
    margin-left: 10px
    cursor: pointer
  }

}




